.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.5rem;
    border-bottom: 0.1rem solid  #D7DFE9;
}

.navbar__left {
    background: url("../../assets/images/nextwave-logo.svg");
    width: 8rem;
    height: 4rem;
    background-repeat: no-repeat;
    cursor: pointer;
}

.navbar__right {
    display: flex;
    align-items: center;
}

.navbar__button {
    margin-right: 0.5rem;
    background: #2DCA73;
    color: white;
    padding: 0.5rem;
    border: 0.1rem solid #2DCA73;
    border-radius: 0.4rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.navbar__logo {
    background: url("../../assets/images/logo.png");
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}