.navigation-button {
  width: 40%;
  margin: auto;
  display: flex;
  border: 0.1rem solid #d7dfe9;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.navigation-button__item {
  width: 33.33%;
  padding: 0.5rem;
  text-align: center;
}

.navigation-button__item:nth-child(1) {
    border-radius: 0.2rem 0 0 0.2rem;
}
.navigation-button__item:nth-child(2) {
  border-right: 0.1rem solid#D7DFE9;
  border-left: 0.1rem solid#D7DFE9;
}
.navigation-button__item:nth-child(3) {
    border-radius: 0 0.2rem 0.2rem 0;
}


.navigation-button__item--active {
    background: #0B69FF;
    color: white;
}